html {
color: #222;
font-size: 1em;
line-height: 1.4;
}

body{
font-family: 'Roboto', sans-serif;
color: #351D77;
margin: 0;
}


/* Header styling ****************/
.content-wrapper{
width: 80%;
margin: 0 auto;
}

header {
background-color: #E8F0E4;
min-height: 100vh;
}

.intro{
text-align: center;
margin: 50px 0;
display: flex;
flex-direction: column;}

h1{
margin: 40px 0;
font-family: 'Alata', sans-serif;
line-height: 60px;
font-size: 2.5em;
}

h3{
font-size: 1.25em;
font-weight: 400;
line-height: 30px;
}

/* Nav styling **************/
nav{
padding-top:50px;
}

nav ul{
display: flex;
justify-content: space-around;
width: 100%;
margin: 0;
padding: 0;
}

nav ul li{
text-decoration: none;
display: inline-block;
padding: 5px 10px;

}

nav ul li a{
text-decoration: none;
justify-content: space-between;
color: #351D77;
text-transform: uppercase;
font-size: 0.85em;
letter-spacing: 0.75px;
}

/* hover nav styling */
nav ul li:hover {
background-color: #D4D3E9;
border-radius: 25px;
}

.intro{
min-height: 70vh;
display: flex;
justify-content: center;
align-items: center;
}

/* projects styling******************** */

.projects{
margin-top:80px;
}

.project{
margin-bottom: 40px;
}

h2, h4{
text-align: center;
font-family: 'Alata', sans-serif;
margin: 0;
}

h2{
font-size: 2.5em;
}

h4{
font-size: 1.5em;
}

h5{
font-weight: 400;
font-size: 1em;
}

h5 span{
font-weight: bold;
}

.details{
margin: 40px 0;
}

.details p{
margin-bottom: 30px;
}

/* images styling */

.image{
text-align: center;
}

img{
width: 100%;
}

/* button styling */

.button{
padding: 10px 0;
width: 150px;
height: 20px;
background-color: #351D77;
border-radius: 25px;
margin: 0 auto;
display: flex;
justify-content: center;
}

.button a {
text-transform: uppercase;
font-size: 1em;
color: #EEE4F0;
text-decoration: none;
}

/* skills section */

.skills {
background-color: #EEE4F0;
padding-top: 40px;
padding-bottom: 60px;
}

.skills h2{
margin: 20px 0;
}

.skills h4{
margin: 20px 0
}

.skills ul{
padding: 0;
display: flex;
flex-direction: column;
align-items: center;
}

.skills ul li {
margin-bottom: 20px;
width: 200px;
justify-content: center;
text-align: center;
background-color: white;
list-style: none;
height: 35px;
display: flex;
align-items: center;
border-radius: 25px;
}

/* About styling */

.about{
padding-top: 60px;
padding-bottom: 80px;
}

.about img {
margin: 20px 0;
width: 70%;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 50%;
}

.about h2{
margin: 20px 0;
font-size: 2em;
text-align: center;
}

.about h3{
margin: 40px 0;
text-align: center;
}

.about span{
font-weight: 600;
}

/* footer */

footer{
background-color: #E8F0E4;
}

.contact{
padding-top: 50px;
}

.contact h4{
margin: 30px 0;
}

.contact p{
font-size: 0.85em;
}

.follow a{
text-decoration: none;
color: inherit;
}

.follow i{
font-size: 30px;
padding: 0 10px;
}

.hire, .follow, .meet{
margin: 30px 0;
text-align: center;
}

.copyright{
margin: 0;
padding-top: 30px;
padding-bottom: 60px;
text-align: center;
}


/* Tablet design */

@media only screen and (min-width: 768px) {
  
.content-wrapper {
max-width: 640px;
}

h1{
font-size: 3em;
line-height: 75px;
}

nav ul li {
padding: 5px 15px;
}

nav ul li a{
  font-size: 1em;
}

.intro{
  margin: 50px 0;
}

img{
  width: 80%;
}

.skills ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
}

.skills ul li {
    width: 250px;
    margin: 20px 50px;
}

.about img {
    padding: 50px;
    width: 50%;
  }
}

/* Desktop design */
@media only screen and (min-width: 1200px) {
  
.content-wrapper {
    max-width: 1140px;
}

h1 {
  font-size: 4em;
  line-height: 100px; 
}

h2{
  padding: 30px 0;
  font-size: 3em;
}

h3 {
  font-size: 1.75em;
  line-height: 45px;

}

.intro{
  min-height: 80vh;
}

.intro h3{
  margin: 0 150px 150px 150px;
}

nav ul{
  justify-content: flex-end;

}

nav ul li {
  padding: 7px 20px;
  margin: 0 15px;
}

.project .image{
  min-height: 230px;

}

img{
  width: 100%;
}
.projects{
  margin: 50px 0;
}

.projects .content-wrapper{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.project{
  width: 30%;
  padding: 0px 50px;
}

.details{
  min-height: 250px;
}

.skills {
  padding-bottom: 100px;
}

.skill-list{
  justify-content: space-evenly;

}

.tech, .dev{
  margin-top: 50px;
}

.headline{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0;

}

.presentation{
  width: 50%;
}

.headline .image {
  padding: 0;
  width: 35%;
}

.headline .image img{
  width: 100%;
}

.about h2 {
  font-size: 2.5em;
  text-align: left;
}

.about h3 {
    margin: 30px 0;
    font-size: 1.25em;
    line-height: 30px;
    text-align: left;
}
.pres-details{
  margin: 30px 0;

}

.contact-detail{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.hire, .follow, .meet {
  margin: 0;
  min-width: 30%;
}
}
